* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

@font-face {
    font-family: "Oxygen";
    src: url("oxygen-regular.ttf");
}

@font-face {
    font-family: "Cousine";
    src: url("cousine-regular.ttf");
}

:root {
    font-family: "Oxygen";
    font-size: 20px;
    color: rgb(16, 16, 16);
}

/* --------------------------------------------------- */

.main-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(58, 58, 65);
    background-image: url("grid.png");
    background-size: 5rem;
}

/* ----------------------- */

.svg-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

/* ----------------------- */

.logs-container {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 3rem;
    background-color: #909090;
    transition: height 0.15s;
}

.logs-container:hover {
    height: 20rem;
}

.logs-title {
    height: 1.3rem;
    line-height: 1.3rem;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 600;
    background-color: #d1d1d1;
    color: #282828;
}

.logs-list {
    display: flex;
    font-weight: 500;
    flex-direction: column-reverse;
    gap: 0.3rem;
    padding: 0.3rem;
}

.logs-list div {
    background-color: #a8a8a8;
    padding: 0.1rem 0.3rem;
    font-size: 0.7rem;
}

/* ----------------------- */

.panel-entity {
    --panel-border-radius: 0.2rem;
    --panel-close-border-radius: 0.15rem;
    --panel-content-padding: 0.4rem;
    --panel-content-border-radius: 0.15rem;
    display: inline-block;
    position: absolute;
    background-color: rgb(130, 130, 130);
    box-shadow: 0 0.2rem 0.7rem -0.2rem #151515;
    transition: box-shadow 0.15s;
    border-radius: var(--panel-border-radius);
    user-select: none;
    overflow: visible;
}

.panel-entity:hover {
    box-shadow: 0 0.2rem 1.1rem -0.2rem #151515;
}

.panel-entity-bar {
    width: 100%;
    height: 1.2rem;
    overflow: hidden;
    border-radius: var(--panel-border-radius) var(--panel-border-radius) 0 0;
    background-color: #e5e5e5;
    box-sizing: border-box;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.panel-entity-bar-title {
    flex-grow: 1;
    line-height: 1.2rem;
    border-radius: var(--panel-border-radius) var(--panel-border-radius) 0 0;
    transition: background-color 0.1s;
    font-size: 0.8rem;
    font-weight: 600;
    text-align: center;
    color: #282828;
}

.panel-entity-bar-title:hover {
    background-color: #fbfbfb;
}

.panel-entity-bar-close {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 0px var(--panel-close-border-radius) 0px 0px;
    transition: background-color 0.1s;
    background-color: #d55e5e;
    cursor: pointer;
    content: url("close.png");
    padding: 0.28rem;
}

.panel-entity-bar-close:hover {
    background-color: #fa5d5d;
}

.panel-entity-body {
    padding: var(--panel-content-padding) 0;
    display: flex;
    flex-direction: row;
    justify-self: center;
    overflow: visible;
    align-items: stretch;
}

.panel-entity-content {
    flex-grow: 1;
    border-radius: var(--panel-content-border-radius);
}

.panel-entity-nodes {
    overflow: visible;
    width: var(--panel-content-padding);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}

.panel-entity-nodes.input {
    position: relative;
    left: -0.8rem;
}

.panel-entity-nodes.output {
    position: relative;
    right: -0.8rem;
}

.panel-entity-node {
    position: relative;
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 0.4rem;
    box-shadow: 0 0.03rem 0.3rem 0 #151515d6;
    cursor: pointer;
    overflow: visible;
    transition: background-color 0.1s;
    background-color: rgb(214, 214, 214);
}

.panel-entity-node:hover {
    background-color: #f7f7f7;
}

.panel-entity-node span {
    position: absolute;
    font-size: 0.7rem;
    top: 50%;
    transform: translateY(-50%);
    padding: 0.2rem;
    border-radius: 0.3rem;
    transition: background-color 0.1s;
    transition: color 0.1s;
    background-color: transparent;
    color: transparent;
    white-space: nowrap;
}

.panel-entity-node:hover span {
    background-color: #7c7c7c42;
    color: #d3d3d3;
}

.panel-entity-nodes.input .panel-entity-node span {
    text-align: right;
    right: 1rem;
}

.panel-entity-nodes.output .panel-entity-node span {
    left: 1rem;
}

/* ----------------------- */

.message {
    user-select: text;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.1rem;
}

.message span {
    font-family: "Cousine";
    font-size: 0.8em;
    text-align: center;
    height: 1rem;
    width: 0.8rem;
    line-height: 1.2rem;
    background-color: #cacaca;
    border-radius: 0.1rem;
    transition: background-color 0.1s;
}

.message span:hover {
    background-color: #bdbdbd;
}

/* ----------------------- */

.hardcoded-entity {
    min-width: 5rem;
    height: 100%;
    background-color: white;
    box-shadow: 0 0 5px #000000;

    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.2rem;
    padding: 0.2rem;
}

/* ----------------------- */

.split-messages-entity {
    min-width: 3.5rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.split-messages-entity p {
    font-size: 1.5rem;
    color: #2e2e2e;
}

/* ----------------------- */

.preview-messages-entity {
    min-width: 5rem;
    height: 100%;
    background-color: white;
    box-shadow: 0 0 5px #000000;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.2rem;
    gap: 0.2rem;
}

.preview-messages-entity.empty {
    padding: 0;
    background-color: inherit;
}
