
# Definetly do not include
/Other/
/Software/
/Github/
/C/Vinn/
token

# Local gh-pages serve byproducts
_site/
.jekyll-cache/
/Gemfile
/Gemfile.lock

# Clean up project byproducts
**/node_modules/
**/dist/
/Processing/**/build/
/Multi/**/build/
/C++/**/bin/
/C++/**/.vs/
/C++/**/dependencies/
/C++/SFML-2.5.1/
/Multi/Simulation/mongodb/

# Not yet implemented
/Unity/
