# Definetly do not include
/other/
/software/
/github/
/c/vinn/
/unity/
token

# Private submodules
/c++/FactorioBlueprints/

# Local gh-pages byproducts
_site/
.jekyll-cache/

# Project byproducts
/c++/**/bin/
/c++/**/.vs/
/c++/**/dependencies/
/c++/SFML-2.5.1/
/c++/**/x64/
**/node_modules/
**/.parcel-cache/
**/dist/
/general/**/build/
/general/docker/docker_network/mongodb/
/general/noita/web-analysis/
/rust/**/target/
/processing/**/build/