[submodule "C++/MachineLearningSln"]
	path = C++/MachineLearningSln
	url = https://github.com/tomster12/MachineLearningSln
[submodule "general/machine_learning/6_c++/MachineLearningSln"]
	path = general/machine_learning/6_c++/MachineLearningSln
	url = https://github.com/tomster12/MachineLearningSln
