# Definetly do not include top level folders
/exclude/
/software/
/github/

# Submodules
/**/[Gg]it*/

# Build byproducts
_site/
.jekyll-cache/
/c++/**/bin/
/c++/**/.vs/
/c++/**/dependencies/
/c++/**/x64/
/c++/**/Release/
/c++/**/Debug/
/**/node_modules/
/**/.parcel-cache/
/**/dist/
/general/**/build/
/general/docker/docker_network/mongodb/
/rust/**/target/
/processing/**/build/
/unity/!Builds/
/c/**/build/

# Hidden local files
token

# Unity Projects
/unity/**/[Ll]ibrary/
/unity/**/[Tt]emp/
/unity/**/[Oo]bj/
/unity/**/[Bb]uild/
/unity/**/[Bb]uilds/
/unity/**/[Ll]ogs/
/unity/**/[Uu]ser[Ss]ettings/
/unity/**/[Mm]emoryCaptures/
/unity/**/[Rr]ecordings/
/unity/**/[Aa]ssets/Plugins/Editor/JetBrains*
/unity/**/.vs/
/unity/**/.gradle/
/unity/**/ExportedObj/
/unity/**/.consulo/
/unity/**/*.csproj
/unity/**/*.unityproj
/unity/**/*.sln
/unity/**/*.suo
/unity/**/*.tmp
/unity/**/*.user
/unity/**/*.userprefs
/unity/**/*.pidb
/unity/**/*.booproj
/unity/**/*.svd
/unity/**/*.pdb
/unity/**/*.mdb
/unity/**/*.opendb
/unity/**/*.VC.db
/unity/**/*.pidb.meta
/unity/**/*.pdb.meta
/unity/**/*.mdb.meta
/unity/**/sysinfo.txt
/unity/**/*.apk
/unity/**/*.aab
/unity/**/*.unitypackage
/unity/**/*.app
/unity/**/crashlytics-build.properties
/unity/**/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/unity/**/[Aa]ssets/[Ss]treamingAssets/aa.meta
/unity/**/[Aa]ssets/[Ss]treamingAssets/aa/*
