/* Load me both regular and bald at Font_ */
@font-face {
    font-family: "Tekken";
    src: url("Assets/FontRegular.otf");
    font-weight: normal;
}

@font-face {
    font-family: "Tekken";
    src: url("Assets/FontBold.otf");
    font-weight: bold;
}

* {
    font-family: "Tekken";
    font-weight: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 0px;
}

/* ---------------------------------------------------- */

.container {
    margin: auto;
    margin-top: 10px;
    width: 850px;
    min-height: 300px;
    padding: 20px 0px;
    background-color: #f2f2f2;
    box-shadow: 0px 0px 30px #00000060;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 30px;
}

.button-container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 5px;

    width: 520px;
    margin: auto;
}

.button-container .button {
    flex: 0 1 49%;
    padding: 4px;
}

.button {
    position: relative;
    background-color: #d4d4d4;
    border-radius: 4px;
    border: 3px solid #201f1e;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.button:hover {
    background-color: #f3f3f3;
}

.button.selected {
    background-color: #e9e9e9;
}

.button .delete {
    position: absolute;
    right: 6px;
    top: calc(50% - 15px / 2);
    width: 15px;
    height: 15px;
    background-color: #cacaca;
    line-height: calc(15px * 0.7);
    font-size: 15px;
    color: rgb(55, 55, 55);
    border-radius: 4px;
}

.button .delete:hover {
    background-color: #e9e9e9;
}

.input-container {
    display: flex;
    gap: 4px;
    width: 520px;
    margin: 5px auto;
}

.input-container .input {
    flex: 1 1 auto;
    padding: 4px;
    text-align: center;
    font-size: 15px;
    border: 1px solid #201f1e;
    border-radius: 2px;
}

.input-container .input[type="number"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

#defaultCanvas0 {
    display: block;
    margin: auto;
}

.status-bar {
    text-align: center;
    font-size: 20px;
    padding: 4px 0px;
    background-color: white;
}

.divider {
    display: block;
    height: 20px;
}
